*.zip
*.pt
*.pdf
*.csv
*.jpg
\datasets


\basketball\*.png
\basketball\*.avi
\basketball\*.mp4

\images

events.*
\video
\train\datasets
\train\runs

\images

label\*.txt

*.cache
\train\runs
*.avi
*.png
*.jpg
*.pyc
*.mp4
*.DS_Store
