*.zip
*.pt
*.pdf
*.csv
*.jpg
\datasets


\basketball\*.png
\basketball\*.avi
\basketball\*.mp4

\images
\runs\detect\*\weights
events.*
\video
\train\*.pt
\train
\runs
\images

label\*.txt

*.cache
\train\runs
*.avi
*.png
*.jpg
*.pyc
*.mp4
*.DS_Store
