*.zip
*.pt
*.pdf
*.csv
*.jpg
\datasets
\ba
\basketball
\basketball\*.png
\basketball\*.avi
\basketball\*.mp4
\basketball\__pycache__
\images
\runs\detect\*\weights
events.*
\video
\train\*.pt
\train
\runs
\images

label\*.txt

*.cache
\train\runs
*.avi
*.png
*.jpg
*.pyc
